body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header,
footer {
  background: #424242;
  color: white;
  /* text-align: center; */
  padding: 1em;
}
main {
  background: #e0e0e0;
}

.Section {
  min-height: 150vh;
  background: #eee;
}

.alternate {
  background: #757575;
  color: white;
}


.Link, .Link:visited, .Link:active {
  color: red;
}




.Container.nav {
  border: 5px solid magenta;
  flex-direction: row;
  justify-content: space-around !important;
}


/* main flexbox layout */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* border: 1px solid magenta; */
}
main {
  flex: 1;
}

/* container flexbox layout */
.Container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}
.Container > * {
  /* border: 1px solid blue; */
  width: 100%;
}



/* about */
.about {
  border: 1px solid red;
}
